<!DOCTYPE html>
<html ng-app="todoApp">

<head>
  <title>AngularJS Todo List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>

<body ng-controller="TodoController">
  <h2>AngularJS Todo List</h2>

  <form ng-submit="addTask()">
    <input type="text" ng-model="newTask" placeholder="Add a new task..." required />
    <button type="submit">Add</button>
  </form>

  <ul>
    <li ng-repeat="task in tasks">
      <span ng-show="!task.editing">{{ task.name }}</span>
      <input ng-show="task.editing" ng-model="task.name" />
      <button ng-click="editTask(task)">{{ task.editing ? 'Save' : 'Edit' }}</button>
      <button ng-click="deleteTask(task)">Delete</button>
    </li>
  </ul>

  <script>
    angular.module('todoApp', []).controller('TodoController', function ($scope) {
      $scope.tasks = [
        { name: 'Task 1', editing: false },
        { name: 'Task 2', editing: false },
        { name: 'Task 3', editing: false }
      ];

      $scope.addTask = function () {
        if ($scope.newTask) {
          $scope.tasks.push({ name: $scope.newTask, editing: false });
          $scope.newTask = '';
        }
      };

      $scope.editTask = function (task) {
        task.editing = !task.editing;
      };

      $scope.deleteTask = function (task) {
        var index = $scope.tasks.indexOf(task);
        $scope.tasks.splice(index, 1);
      };
    });
  </script>
</body>

</html>
