<!DOCTYPE html>
<html ng-app="todoApp">

<head>
  <title>AngularJS Todo List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>

<body ng-controller="TodoController">
  <h2>Todo List</h2>

  <form ng-submit="addTask()">
    <input type="text" ng-model="newTask" placeholder="Add a new task..." required />
    <button type="submit">Add</button>
  </form>

  <ul>
    <li ng-repeat="task in tasks">
      <span>{{ task }}</span>
      <button ng-click="deleteTask($index)">Delete</button>
    </li>
  </ul>

  <script>
    angular.module('todoApp', []).controller('TodoController', function ($scope) {
      $scope.tasks = ['Task 1', 'Task 2', 'Task 3'];

      $scope.addTask = function () {
        if ($scope.newTask) {
          $scope.tasks.push($scope.newTask);
          $scope.newTask = '';
        }
      };

      $scope.deleteTask = function (index) {
        $scope.tasks.splice(index, 1);
      };
    });
  </script>
</body>

</html>
