<html ng-app="myapp">
    <head>
        <title>p1</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>
<body>
    <div class="sur" ng-controller="myctrl">
        <p> ENTER YOUR FIRST NAME : <input type="text" ng-model="fname"></p>
        <p> ENTER YOUR LAST NAME : <input type="text" ng-model="lname"></p>
        <p> HELLO, {{ fname }} {{ lname }}</p>
    </div>

<script>
    angular.module('myapp', []).controller('myctrl', function($scope)
    {
        $scope.fname = "suraj";
        $scope.lname = "sur";
    });
</script>
</body>
</html>
